:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0c3f1b;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

form{
  margin-left: 15px;
}

button {
  border-radius: 6px;
  border: 1px solid #626263;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2d2d4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0f075a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul{
  list-style-type: none;
  font-weight: 700;
  padding-bottom: 5px;
}

.details{
  margin: 6px;
}