body {
  display: flex;
  flex-direction: row;
}
div {
  flex: 1;
  margin: 0.3rem;
  padding: 0.2rem;
}
form {
  border: 2px solid rgb(116, 29, 83);
  padding: 5px;
  border-radius: 5px;
}
form input {
  padding: 0.2rem;
  margin: 0.2rem;
}
.blogDetails {
  border: 2px solid rgb(175, 63, 245);
  border-radius: 5px;
  padding: .2rem;
}
button{
  border-radius: 5px;
  padding: 5px;
  color: rgb(33, 28, 133);
  border: 0;
  background-color: rgb(245, 185, 248);
}
.notification {
  border-radius: 3px;
  font-weight: 600;
  padding: 5px;
  margin: 5px;
}

.error {
  border: 2px solid red;
  color: red;
  background-color: rgb(252, 229, 240);
}

.success {
  border: 2px solid green;
  color: green;
  background-color: rgb(219, 223, 223);
}
